---
interface Props {
    heading2: string
}

const { heading2 } = Astro.props
---

<h2 class="text-center font-serif-pro font-light text-4xl md:text-5xl lg:text-6xl leading-snug mb-12">{heading2}</h2>


