---
import NavBar from '../components/NavBar.astro'
interface Props {
	title: string;
}

const { title } = Astro.props;

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<main>
			<NavBar />
			<slot />
		</main>
	</body>
</html>
<style is:global>
	:root {
		--accent-beige: 244, 241, 237;
		--accent-darker-beige: 239, 235, 229;
		--accent-brown: 61, 59, 59;
		--accent-brown-75: 61, 59, 59 / 0.80;
	
	}
	html {
		font-family: system-ui, sans-serif;
		background: rgb(var(--accent-beige));
		font-size: 16px;
		line-height: 1.6;
	}
</style>
